@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'IBM Plex Mono', monospace;
    background-color: rgb(214, 204, 194);
}

li,a{
    list-style-type: none;
    text-decoration: none;
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 1440px;
    margin: auto;
    padding-top: 0.5rem;
}