@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";
@theme {
	--color-custom-light-blue: #00c1b5;
	--color-custom-yellow: #ffbe00;
	--color-custom-orange: #ff651a;
	--color-custom-blue: #1d3fbb;
	--color-custom-red: #e30512;

	--font-primary: "Open Sans", sans-serif;
}
